.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App 容器 */
.App {
  text-align: center;
  width: 100%;
  height: 100%; /* 使其填满屏幕高度 */
  overflow: hidden; /* 防止出现滚动条 */
}

/* 控制面板样式 */
.control-panel {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* 滑块容器样式 */
.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  width: 200px;
}

/* 游戏屏幕的样式 */
.game-screen {
  height: calc(100vh - 120px);
  background-color: #fafafa;
  width: 100%;
}

/* 游戏容器 */
.game-container {
  width: 100%;
  height: 100%;
}

/* 画布的样式 */
.canvas {
  width: 100%;
  height: 100%;
}

/* 分数和时间的样式 */
.score-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

/* Header 样式 */
.header {
  padding: 20px 0;
}
